# Ignore Python virtual environments
venv/

# Bytecode and caches
__pycache__/
*.py[cod]
*.so
*.pyo

# Jupyter junk
.ipynb_checkpoints/

# OS cruft
.DS_Store

# Large model files/checkpoints
*.pt
*.bin
*.ckpt
*.pkl

# Logs and junk
*.log

# Other
*.env
models/apollo_0.5B/apollo_mcq_500/model.safetensors
